$teal: #008484;
.entry-content {
  #gotoTopString {
    padding: .8em;
    text-decoration: underline;
  }
}
a {
  word-wrap: break-word;
}
#globalSearch {
  display: none;
}
#a-z-menu {
  li {
    text-align: center;
    list-style-type: none;
    margin: 0 4px 4px 0;
    display: inline-block;
    width: auto;
    float: left;
    a {
      background-color: $teal;
      cursor: pointer;
    }
  }
}

.bookMarkLet {
  cursor: move;
}